<footer class="bg-dark text-white py-4 mt-5">
  <div class="container text-center">
    <p class="mb-2 fw-bold">Síguenos en nuestras redes sociales</p>

    <div class="d-flex justify-content-center gap-4 fs-4 mb-3">
      <a href="https://www.facebook.com/?locale=es_LA" target="_blank" class="text-white">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.instagram.com/autonet_ec/" target="_blank" class="text-white">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.tiktok.com/@repuestos_autonet" target="_blank" class="text-white">
        <i class="bi bi-tiktok"></i>
      </a>
    </div>

    <small>&copy; 2025 AutoRepuestos. Todos los derechos reservados.</small>
  </div>
</footer>