/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

h1, h2, h3 {
  font-weight: 700;
}

a {
  text-decoration: none;
}